<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/output.css">
    <title>Success</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

        * {
            font-family: "Poppins", sans-serif;
        }

        /* Change Image here of hero section on other page */
        body {
            background: linear-gradient(to right bottom, rgba(2, 6, 23, 0), rgba(2, 6, 23, 1.0)), url('../../public/images/sunset.jpg') center/cover no-repeat fixed;
        }
    </style>
</head>
<body class=" flex items-center justify-center min-h-screen w-full">
    <main>
        <div class="card w-96 bg-base-100 shadow-xl image-full">
            <figure><img src="../../public/images/sunset.jpg" alt="Shoes" /></figure>
            <div class="card-body">
              <h2 class="card-title">Reservation Submitted</h2>
              <p>Wait for further notice of reservation status changes.</p>
              <div class="card-actions justify-end">
                <button onclick="location.href = 'index.php'" class="btn btn-primary">Back Home</button>
              </div>
            </div>
          </div>
    </main>
</body>
</html>